<ng-view></ng-view>
<div class="container" ng-controller="UserController as main">
    
    <div class="row">
        <div class="col-lg-6 form-inline">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="Name" required>
                </div>
                <div class="form-group">
                    <label for="BirthDate">Birth date</label>
                    <input type="date" class="form-control" id="BirthDate" placeholder="Birth date" ng-model="BirthDate" required>
                </div>
                <button type="submit" class="btn btn-default  " ng-click="addUser()">Add</button>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 ">
            <table ng-cloak class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>BirthDate</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in usersData | startFrom:currentPage*pageSize | limitTo:pageSize ">
                        <td><a href="#!files/{{item.Id}}">{{item.Name}}</a></td>
                        <td>{{item.BirthDate}}</td>
                        <td>{{item.UploadFiles.length}}</td>
                    </tr>
                </tbody>
            </table>
            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= usersData.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>
