@model string 
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div class="row" ng-controller="HomeController">
    <form>
        <input type="file" name="Photo"
               file-input="files"
               accept=".jpg,.png,.gif"
               multiple />
        <button ng-click="upload()">Add</button>
        <li ng-repeat="file in files">{{file.name}}</li>
    </form>
</div>
@*<td ng-repeat="file in item.UploadFiles">
        <img ng-src="data:image/*;base64,{{file.Photo}}"> 
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </td>*@